body {
  background-color: #064273;
  margin: 0px;
  color: white;
}

img {
  max-width: 500px;
  max-height: 500px;
}

h1 {
  font-size: 3em;
  margin-top: 10%;
  color: yellow;
}

p {
  font-size: 1.8em;
  margin-left: 5%;
  margin-right: 5%;
}

.header {
  text-align: center;
}
.title-row {
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;
}

.instructions-title {
  display: inline;
  font-size: 2.2em;
  font-family: times;
  color: yellow;
}
.tree-frame {
    cursor: pointer;
    padding: 10px;
    width: 20%;
}

.instructions-row {
margin: 0 auto;
width: 500px;
}


.tree-row {
  text-align: center;
  border-top: 20px white bolder;
  margin-top: 100px;
}

.start-row {
margin:auto;
width:120px;
height:43px;
font-family:times;
background-color:#ff8c00;
padding-top:18px;
font-size:18px;
text-align:center;
margin-bottom:21px;
cursor:pointer;
font-weight: bold;
}
